<!DOCTYPE html>
<html lang="en" style="height: 100%">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>틴플 :: 틴친 목록</title>
        <link rel="shortcut icon" href="/staticfiles/images/teenplay_logo/logo1.png" type="image/x-icon" />
        <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet" />
        <link rel="stylesheet" href="/staticfiles/css/mypage/my-teenchin.css" />
    </head>
    <body loaded style="position: relative; min-height: 100%; top: 0px">
        <!-- 마이페이지 헤더 부분 -->
        <header></header>
        <!-- 메인 부분 -->
        <main class="mypage-main">
            <div class="mypage-wrap">
                <div>
                    <div class="mypage-container">
                        <div class="mypage-box">
                            <div class="side-bar">
                                <div class="side-bar-title">마이페이지</div>
                                <div class="side-bar-items">
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">나의 위시리스트</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">나의 모임</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">나의 댓글</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">나의 활동</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">틴친 목록</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">결제 내역</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">쪽지 목록</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a href="">알림 목록</a>
                                    </div>
                                    <div>
                                        <!-- 주소 필요 -->
                                        <a class="target-color" href="">내 정보 수정</a>
                                    </div>
                                </div>
                            </div>
                            <div class="contents"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- 푸터 부분 -->
        <footer></footer>
    </body>
    <script src="/staticfiles/js/mypage/my-teenchin.js"></script>
</html>
