<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/staticfiles/images/teenplay_logo/logo1.png">
        <link rel="stylesheet" href="/staticfiles/css/login/login-web.css">
        <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
        <title>틴플 :: 로그인</title>
    </head>
    <body>
        <!-- class="sm:mt-12" -->
        <!-- 화면 부분 -->
        <div class="screen-all-wrap">
            <div class="screen-full-wrap">
                <div class="screen-wrap">
                    <div class="app-screen-all-wrap">
                        <div class="app-screen-wrap">
                            <div class="screen-divison-wrap">
                                <!-- 로고 부분 -->
                                <a class="title-logo-container" href="https://event-us.kr/">
                                    <img class="title-logo" src="/staticfiles/images/teenplay_logo/logo2.png">
                                </a>
                                <!-- 글씨 부분 -->
                                <div class="title-text">
                                    <span>다시 만나서 반가워요!</span>
                                </div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/staticfiles/js/login/login-web.js"></script>
</html>