<!DOCTYPE html>
<html lang="en" style="height: 100%">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>틴플레이</title>
        <link
            rel="shortcut icon"
            href="/staticfiles/images/teenplay_logo/logo1.png"
            type="image/x-icon"
        />
        <link
            href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/staticfiles/css/fix/header.css" />
    </head>
    <body loaded style="position: relative; min-height: 100%; top: 0px">
        <!-- 해더 부분 -->
        <header id="header">
            <!-- 배너 부분 로컬 회원중 인증을 하지 않았을 때 표시 -->
            <div class="banner-wrap">
                <span> <span class="name_size">서경덕</span>님 </span>
                <span class="certify-message"
                    >dlfjs158@nate.com 이메일을 확인하여 인증을
                    완료해주세요.</span
                >
                <a class="send-email">
                    인증 메일 발송하기
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="arrow"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                </a>
            </div>
            <!-- 네비 부분 -->
            <nav>
                <div class="main-nav-wrap">
                    <div class="main-nav-container">
                        <div class="logo-and-search">
                            <!-- 메인페이지 경로 -->
                            <a href="">
                                <!--  -->
                                <img
                                    class="logo-image"
                                    src="/staticfiles/images/teenplay_logo/logo2.png"
                                    alt="로고"
                                />
                            </a>
                            <div></div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </nav>
        </header>
    </body>
</html>
