@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

input {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration{
      display: none;
    }
  }


*{
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

html{
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    line-height: inherit;
    display: block;
    min-height: 100%;
    flex-direction: column;
    height: 100vh;
    display: flex;

}

.header-all{
    padding-left: 32px;
    padding-right: 32px;
    height: 58px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    z-index: 20;
    left: 0;
    top: 0;
    position: sticky;
    background-color: #1d1d1e;
}

.header-logo-text{
    align-items: center;
    display: flex;
}

.header-logo-icon{
    
        height: 1rem;
        width: auto;
        display: block;
        vertical-align: middle;
    
}

.header-slash{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    fill: #fff;
}

.header-admin-text{
    align-items: center;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    fill: #fff;
}

.main-all{
    overflow: hidden;
    height: 100%;
    display: flex;
}

.main-nav-wrap{
    border-width: 1px;
    flex-basis: 260px;
    position: relative;
    border-color: #e6e6e7;
    background-color: #fafafb;
}

.main-admin-info{
    padding-bottom: 28px;
    padding-top: 40px;
    margin-left: 32px;
    margin-right: 32px;
    border-color: red;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    border-bottom-width: 1px;
}

.main-admin-wrap{
    align-items: center;
    flex-direction: column;
    display: flex;
}

.main-admin-container{
    margin-bottom: 12px;
}

.main-admin-button{
    width: 68px;
    height: 68px;
    outline: none;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.main-admin-image{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    object-position: center center;
    color: transparent;
    border-radius: 9999px;
    max-width: 100%;
    display: block;
    vertical-align: middle;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
    

.main-admin-image-warp{
    border-width: 1px;
    border-radius: 9999px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-color: rgba(0,0,0,.1);

}

.main-admin-name{
    text-align: center;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1d1d1e;
    fill: #1d1d1e;
    margin: 0;
    margin-bottom: 12px;
}

.main-admin-logout-button{

    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-color: rgba(0,0,0,.1);
    color: #333334;
    fill: #333334;
    background-color: #fff;
    -webkit-appearance: button;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.main-admin-logout-button:hover{
    border-color: #f3f3f4;
    background-color: #f3f3f4;

    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #333334;
    fill: #333334;
    -webkit-appearance: button;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.main-admin-logout-warp{
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.main-admin-select{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
    list-style: none;
    margin: 0;
}

.main-user{
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    align-items: center;
    height: 40px;
    display: flex;
    margin-bottom: 8px;
    background-color: #f2f0fc;
}

.main-user-warp{
    align-items: center;
    flex-grow: 1;
    display: flex;
}

.main-user-image{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: #7e69fe;
    fill: #7e69fe;
    display: block;
    vertical-align: middle;
}

.main-user-text{
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #1d1d1e;
    fill: #1d1d1e;

}

.main-user-other{
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    align-items: center;
    height: 40px;
    display: flex;
    margin-bottom: 8px;
}

.main-user-other:hover{
    background-color: #f2f0fc;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    align-items: center;
    height: 40px;
    display: flex;
    margin-bottom: 8px;
}

.main-user-info-warp{
    overflow-x: auto;
    flex-basis: 0px;
    flex-grow: 1;
    flex-shrink: 0;
}

.main-user-info-container{
    padding-bottom: 64px;
    row-gap: 0;
    column-gap: 16px;
    grid-template-columns: repeat(12,minmax(0,1fr));
    width: 944px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.main-user-info-box{
    margin-bottom: 24px;
    grid-column: 1/-1;
}

.main-user-info-top{
    z-index: 10;
    top: 0;
    position: sticky;
    background-color: #fff;
}

.main-user-info-text{
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.main-user-info-tag{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #1d1d1e;
    fill: #1d1d1e;
    margin: 0;
}

.admin-festival-create-button{
    gap: 16px;
    display: flex;
}

.admin-festival-create-button-cancle{

    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-color: rgba(0,0,0,.1);
    color: #333334;
    fill: #333334;
    background-color: #fff;
    -webkit-appearance: button;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.admin-festival-create-button-create{

    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    fill: #fff;
    background-color: #1d1d1e;
    -webkit-appearance: button;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
}