html {
    font-family: SUIT,sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

body {
    position: relative;
    min-height: 100%;
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgb(23 23 23/var(--tw-text-opacity));
    margin: 0;
    line-height: inherit;
}

body[loaded] {
    opacity: 1;
}

html > body {
    top: 0 !important;
}

body, html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

a, button {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

a {
    color: inherit;
    text-decoration: inherit;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e1e4e6;
}

* {
    letter-spacing: -.03125em;
    scrollbar-color: auto;
    scrollbar-width: auto;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: -.03125em;
}

.screen-all-wrap {
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.screen-full-wrap {
    align-items: center;
    flex: 1 1 0%;
    width: 100%;
    display: flex;
}

.screen-wrap {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.app-screen-wrap {
    display: flex;
}

.screen-divison-wrap {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    max-width: 24rem;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.title-logo-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.title-logo {
    width: auto;
    height: 2rem;
    display: block;
    vertical-align: middle;
}

.title-text {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}