<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>틴플 :: 모임 홍보글 상세</title>
        <link
            rel="shortcut icon"
            href="/staticfiles/images/teenplay_logo/logo1.png"
            type="image/x-icon"
        />
        <link
            href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="/staticfiles/css/club/club-pr-posts-detail.css"
        />
        <link
            rel="stylesheet"
            href="/staticfiles/css/open-wishlist/open-wishlist-web.css"
        />
    </head>
    <body class loaded style="position: relative; min-height: 100%">
        <main class="pr-detail-main">
            <div class="pr-detail-wrap">
                <section class="pr-detail-banner-wrap">
                    <div class="pr-detail-banner-container">
                        <div class="pr-detail-banner-boxes">
                            <div class="pr-detail-banner-field">관광/여행</div>
                            <div class="pr-detail-banner-title">
                                [모집중] TeenPlayers :: 전국 여행모임 - 함께
                                추억을 쌓으러 떠날 틴친분들을 모집합니다!😁
                            </div>
                            <div class="pr-detail-banner-date">
                                2024. 02. 06.
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 글 내용 -->
                <div class="pr-detail-content-wrap">
                    <div class="pr-detail-content-container">
                        <figure class="pr-detail-content-img-wrap">
                            <img
                                src="/staticfiles/images/club/club-pr-posts/pr-posts-example-img.png"
                                class="pr-detail-content-img"
                            />
                        </figure>
                        <p>&nbsp;</p>
                        틴플레이어스와 함께하실 틴친들을 모집합니다~!
                        <br />
                        외모, 나이 따지지 않습니다! 오로지 여행에 대한 열정!
                        하나만으로 뭉쳐서 즐겁게 여행하실 분들과 함께해요~
                        <br />
                        <br />
                        매주 주말 전국 방방곡곡으로 여행을 떠납니다!
                        <br />
                        <br />
                    </div>
                    <div class="pr-detail-back-wrap">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="pr-detail-back-icon"
                            viewBox="0 1 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                        <span class="pr-detail-back-text"> 목록으로 </span>
                    </div>
                    <div class="pr-border"></div>
                    <!-- 모임 정보 -->
                    <section class="pr-detail-group-wrap">
                        <div class="pr-detail-group-title">
                            <span>모임 정보</span>
                        </div>
                        <div class="pr-detail-group-container">
                            <div class="pr-detail-group-boxes">
                                <a href="" class="pr-detail-group-img-wrap">
                                    <img
                                        src="/staticfiles/images/club/club-detail/club-detail-profile-img.jpg"
                                        class="pr-detail-group-img"
                                    />
                                </a>
                                <div class="pr-detail-group-box">
                                    <div class="pr-detail-group-items">
                                        <div class="pr-detail-group-name-wrap">
                                            <a
                                                href=""
                                                class="pr-detail-group-name-link"
                                            >
                                                <span
                                                    class="pr-detail-group-name"
                                                    >TEEN_PLAYERS</span
                                                >
                                                <svg
                                                    class="pr-detail-group-name-icon"
                                                    viewBox="0 0 20 20"
                                                    fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                >
                                                    <path
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M7.29289 14.7071C6.90237 14.3166 6.90237 13.6834 7.29289 13.2929L10.5858 10L7.29289 6.70711C6.90237 6.31658 6.90237 5.68342 7.29289 5.29289C7.68342 4.90237 8.31658 4.90237 8.70711 5.29289L12.7071 9.29289C13.0976 9.68342 13.0976 10.3166 12.7071 10.7071L8.70711 14.7071C8.31658 15.0976 7.68342 15.0976 7.29289 14.7071Z"
                                                        fill="#CE201B"
                                                    ></path>
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="pr-detail-group-msg-wrap">
                                            모임에 가입하고 최신 활동 소식을
                                            가장 빠르게 받아보세요!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- 위시리스트 댓글 부분 -->
                    <div class="comment-all-wrap">
                        <!-- 위시리스트 댓글 추가 부분 -->
                        <div class="comment-input-box-all-wrap">
                            <div class="comment-input-box-wrap">
                                <div class="comment-input-wrap">
                                    <div
                                        class="comment-input-username-container"
                                    >
                                        틴친이
                                    </div>
                                    <form
                                        class="comment-input-container"
                                        method="post"
                                        data-hs-cf-bound="true"
                                    >
                                        <input
                                            class="comment-input"
                                            name="__RequestVerificationToken"
                                            type="hidden"
                                            value="lQ1k2HcglUXXMwOa0SIMa_JXSkG8dcFibXk3jrgj1xqrlfkZnxzZ69pIbMszXgP7-1CrLPr7j5y-xEsj8UfSWd2EpmvQnlNfBilqDAT5vUaOv7fZgaT00ILqYk8j9LZOYraW8JeO8poPFXuOtKyENA2"
                                        />
                                        <input
                                            class="comment-input-hidden"
                                            name="CommunityBoardArticleId"
                                            hidden=""
                                        />
                                        <textarea
                                            class="comment-input-guide"
                                            name="content"
                                            type="text"
                                            placeholder="댓글을 남겨주세요. 욕설, 비방글은 무통보 삭제됩니다."
                                            autocomplete="off"
                                            required=""
                                        ></textarea>
                                        <div class="comment-input-upload-wrap">
                                            <div
                                                class="comment-input-upload-container"
                                            >
                                                <button
                                                    class="comment-input-upload-button"
                                                    id="comment-upload-button"
                                                    type="submit"
                                                >
                                                    등록
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- 위시리스트 댓글 개수 정보 부분 -->
                        <div class="comment-count-wrap">댓글 1</div>
                        <!-- 위시리스트 전체 댓글 부분 -->
                        <div class="comment-list-box-wrap">
                            <!-- 댓글 구분선 -->
                            <div class="comment-line"></div>
                            <!-- 위시리스트 댓글 수정 부분 -->
                            <div class="comment-update-box-all-wrap hidden">
                                <div class="comment-update-box-wrap">
                                    <div class="comment-update-wrap">
                                        <div
                                            class="comment-update-username-container"
                                        >
                                            핏자
                                        </div>
                                        <form
                                            class="comment-update-container"
                                            method="post"
                                            data-hs-cf-bound="true"
                                        >
                                            <input
                                                class="comment-update"
                                                name="__RequestVerificationToken"
                                                type="hidden"
                                                value="lQ1k2HcglUXXMwOa0SIMa_JXSkG8dcFibXk3jrgj1xqrlfkZnxzZ69pIbMszXgP7-1CrLPr7j5y-xEsj8UfSWd2EpmvQnlNfBilqDAT5vUaOv7fZgaT00ILqYk8j9LZOYraW8JeO8poPFXuOtKyENA2"
                                            />
                                            <input
                                                class="comment-update-hidden"
                                                name="CommunityBoardArticleId"
                                                hidden=""
                                            />
                                            <textarea
                                                class="comment-update-guide"
                                                id="comment-input-update-guide"
                                                name="content"
                                                type="text"
                                                placeholder="수정할 댓글을 입력하세요."
                                                autocomplete="off"
                                                required=""
                                            ></textarea>
                                            <div
                                                class="comment-update-upload-wrap"
                                            >
                                                <div
                                                    class="comment-update-upload-container"
                                                >
                                                    <button
                                                        class="comment-update-upload-button"
                                                        id="comment-update-upload"
                                                        type="button"
                                                    >
                                                        등록
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- 위시리스트 댓글 목록 부분 -->
                            <div class="comment-list-all-wrap">
                                <!-- 위시리스트 개별 댓글 부분 -->
                                <div class="comment-list-wrap">
                                    <!-- 위시리스트 댓글 내 프로필 사진 부분 -->
                                    <div class="comment-profile-container">
                                        <svg
                                            class="comment-profile-icon"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24"
                                            fill="currentColor"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                                                clip-rule="evenodd"
                                            ></path>
                                        </svg>
                                    </div>
                                    <!-- 위시리스트 개별 댓글 전체 내용 부분 -->
                                    <div class="comment-content-container">
                                        <!-- 위시리스트 댓글 정보 부분 -->
                                        <div class="comment-info">
                                            <!-- 위시리스트 댓글 작성자 이름 부분 -->
                                            <span>핏자</span>
                                            <!-- 위시리스트 댓글 작성 날짜 부분 -->
                                            <span class="comment-info-date"
                                                >1일 전</span
                                            >
                                        </div>
                                        <!-- 위시리스트 개별 댓글 내용 부분 -->
                                        <div class="comment-text">
                                            가입 신청 보냈습니다~~~!
                                        </div>
                                    </div>
                                </div>
                                <!-- 위시리스트 개별 댓글 메뉴 부분 -->
                                <div>
                                    <button
                                        class="comment-menu"
                                        type="button"
                                        aria-haspopup="menu"
                                        data-headlessui-state
                                    >
                                        <svg
                                            class="comment-menu-icon"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24"
                                            fill="currentColor"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M10.5 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"
                                                clip-rule="evenodd"
                                            ></path>
                                        </svg>
                                    </button>
                                    <div
                                        class="comment-menu-open-wrap hidden"
                                        aria-labelledby="main-wishlist-content-menu"
                                        role="menu"
                                        tabindex="0"
                                        data-headlessui-state="open"
                                    >
                                        <div
                                            class="comment-menu-open-container"
                                            role="none"
                                        >
                                            <div
                                                class="comment-menu-open-divison"
                                                role="none"
                                            >
                                                <button
                                                    class="comment-menu-open-choice"
                                                    type="button"
                                                    id="comment-menu-open-update"
                                                    role="menuitem"
                                                    tabindex="-1"
                                                >
                                                    수정
                                                </button>
                                                <button
                                                    class="comment-menu-open-choice"
                                                    type="button"
                                                    id="comment-menu-open-delete"
                                                    role="menuitem"
                                                    tabindex="-1"
                                                >
                                                    삭제
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 댓글 구분선 -->
                        <div class="comment-line"></div>
                    </div>
                </div>
            </div>
        </main>
        <!-- 푸터 들어갈 부분 -->
        <footer></footer>
    </body>
    <script src="/staticfiles/js/club/club-pr-posts-detail.js"></script>
</html>
