<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- 로고 만들어지면 href수정 -->
        <link
            rel="shortcut icon"
            href="/staticfiles/images/teenplay_logo/logo1.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="/staticfiles/admin/festival/festival-listview.css"
        />
        <title>틴플 : 관리자 페이지</title>
    </head>
    <body>
        <!-- 헤더 먼저 해야합니다. 나중에 색상은 바꿔야합니다! -->
        <header class="header-all">
            <div class="header-logo-text">
                <a href="" class="header-logo">
                    <img
                        class="header-logo-icon"
                        src="/staticfiles/images/teenplay_logo/logo2.png"
                        alt="로고"
                    />
                </a>
                <div class="header-slash">|</div>
                <div class="header-admin-text">
                    <span>Admin Center</span>
                </div>
            </div>
        </header>
        <!-- 헤더  끝 좌측 안내부분 시작 -->
        <main class="main-all">
            <!-- 공통으로 들어가는 좌측부분 -->
            <nav class="main-nav-wrap">
                <!-- 위에 로그인 정보 및 로그아웃 칸 -->
                <div class="main-admin-info">
                    <div class="main-admin-wrap">
                        <div class="main-admin-container">
                            <button class="main-admin-button">
                                <img
                                    class="main-admin-image"
                                    src="/staticfiles/images/teenplay_logo/logo1.png"
                                    alt="admin사진"
                                />
                                <!-- 여기 중간에 뭐 이상한거 있긴한데 의미 없어보임 일단은 보류 -->
                                <div class="main-admin-image-warp"></div>
                            </button>
                        </div>
                        <h2 class="main-admin-name">TeenPlay</h2>
                        <a href="" class="main-admin-logout">
                            <button class="main-admin-logout-button">
                                <div class="main-admin-logout-warp">
                                    <div>로그아웃</div>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <!-- 메뉴 선택할수 있는 칸 -->
                <ul class="main-admin-select">
                    <!-- 유저관리 -->
                    <li class="main-user-other">
                        <a href="" class="main-user-warp">
                            <img
                                class="main-user-image"
                                src="/staticfiles/admin/admin-image/admin-user-img.png"
                                alt="user-image"
                            />
                            <span class="main-user-text">유저 관리</span>
                        </a>
                    </li>
                    <!-- 쪽지 관리 -->
                    <li class="main-user-other">
                        <a href="" class="main-user-warp">
                            <img
                                class="main-user-image"
                                src="/staticfiles/admin/admin-image/message-img.png"
                                alt="user-image"
                            />
                            <span class="main-user-text">쪽지 관리</span>
                        </a>
                    </li>
                    <!-- 틴플레이관리 -->
                    <li class="main-user-other">
                        <a href="" class="main-user-warp">
                            <img
                                class="main-user-image"
                                src="/staticfiles/admin/admin-image/play-img.png"
                                alt="user-image"
                            />
                            <span class="main-user-text">틴 플레이 관리</span>
                        </a>
                    </li>
                    <!-- 게시글 관리 -->
                    <li class="main-user-other">
                        <a href="" class="main-user-warp">
                            <img
                                class="main-user-image"
                                src="/staticfiles/admin/admin-image/post-img.png"
                                alt="user-image"
                            />
                            <span class="main-user-text">게시글 관리</span>
                        </a>
                    </li>
                    <!-- 전체모임 관리 -->
                    <li class="main-user-other">
                        <a href="" class="main-user-warp">
                            <img
                                class="main-user-image"
                                src="/staticfiles/admin/admin-image/meeting-img.png"
                                alt="user-image"
                            />
                            <span class="main-user-text">전체 모임관리</span>
                        </a>
                    </li>
                    <!-- 축제관리 -->
                    <li class="main-user">
                        <a href="" class="main-user-warp">
                            <img
                                class="main-user-image"
                                src="/staticfiles/admin/admin-image/festival-img.png"
                                alt="user-image"
                            />
                            <span class="main-user-text">축제 관리</span>
                        </a>
                    </li>
                    <!-- 공지사항 관리 -->
                    <li class="main-user-other">
                        <a href="" class="main-user-warp">
                            <img
                                class="main-user-image"
                                src="/staticfiles/admin/admin-image/loudspeaker-img.png"
                                alt="user-image"
                            />
                            <span class="main-user-text">공지사항 관리</span>
                        </a>
                    </li>
                    <!-- 댓글관리 -->
                    <li class="main-user-other">
                        <a href="" class="main-user-warp">
                            <img
                                class="main-user-image"
                                src="/staticfiles/admin/admin-image/comment-img.png"
                                alt="user-image"
                            />
                            <span class="main-user-text">댓글 관리</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- 사실상 여기만 수정하면 모든게 끝입니다! -->
            <div class="main-user-info-warp">
                <div class="main-user-info-container">
                    <div class="main-user-info-box">
                        <div class="main-user-info-top">
                            <!-- 유저관리, 검색하는곳 -->
                            <header class="main-user-info-text">
                                <h1 class="main-user-info-tag">축제 관리</h1>
                                <div>
                                    <div class="main-user-info-seach">
                                        <label class="main-user-info-label">
                                            <input
                                                class="main-user-info-input"
                                                placeholder="축제 검색"
                                                type="search"
                                                value=""
                                                id="member-search"
                                            />
                                            <button
                                                class="main-user-search-button"
                                                id="member-button"
                                            >
                                                <svg
                                                    viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    class="main-user-search-box"
                                                >
                                                    <path
                                                        id="member-search-cansle"
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M15.83 16.561a7.8 7.8 0 1 1 1.233-1.312l3.465 3.465a.9.9 0 1 1-1.272 1.273L15.83 16.56Zm1.13-5.961a6.16 6.16 0 1 1-12.32 0 6.16 6.16 0 0 1 12.32 0Z"
                                                    ></path>
                                                </svg>
                                            </button>
                                        </label>
                                    </div>
                                </div>
                            </header>
                            <!-- 전체 목록 갯수확인 -->
                            <div class="main-user-total">
                                <!-- 첫번째(왼쪽 전체0) -->
                                <div class="main-user-total-list">
                                    <span class="main-user-total-text"
                                        >전체</span
                                    >
                                    <span class="main-user-total-number"
                                        >0</span
                                    >
                                </div>
                                <!-- 2번째 -->
                                <!-- 일단은 없애요^^ -->
                                <div class="main-user-total-search">
                                    <div class="main-user-total-member-status">
                                        <div
                                            class="main-user-total-member-list"
                                        >
                                            <button
                                                class="main-user-total-button"
                                            >
                                                <span
                                                    class="main-user-total-span"
                                                    >축제 작성하기</span
                                                >
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-user-status">
                                <!-- 여기에 넣으면 추가할수있습니다(가로넓이 width만 수정)) -->
                                <div class="main-user-status-name">
                                    축제제목
                                </div>
                                <div class="main-user-status-date">시작일</div>
                                <div class="main-user-status-pay">종료일</div>
                                <div class="main-user-status-recent">장소</div>
                                <div class="main-user-status-paycount">
                                    수정하기
                                </div>
                                <div class="main-user-status-status">
                                    삭제하기
                                </div>
                            </div>
                        </div>
                        <li class="main-user-list" data-id="1">
                            <div class="main-user-list-name">빙어축제</div>
                            <div class="main-user-list-status">23.02.01</div>
                            <div class="main-user-list-date">23.02.03</div>
                            <div class="main-user-list-pay">강원도</div>
                            <div class="main-user-list-detail">
                                <button
                                    class="member-user-list-detail-button toggle-button"
                                    data-target="1"
                                >
                                    상세보기
                                </button>
                            </div>
                            <div class="main-user-list-ston">
                                <button
                                    class="member-user-list-button toggle-button"
                                    data-target="1"
                                >
                                    삭제하기
                                </button>
                            </div>
                        </li>
                        <li class="main-user-list" data-id="2">
                            <div class="main-user-list-name">송어축제</div>
                            <div class="main-user-list-status">23.12.01</div>
                            <div class="main-user-list-date">23.12.03</div>
                            <div class="main-user-list-pay">경기도</div>
                            <div class="main-user-list-detail">
                                <button
                                    class="member-user-list-detail-button toggle-button"
                                    data-target="2"
                                >
                                    상세보기
                                </button>
                            </div>
                            <div class="main-user-list-ston">
                                <button
                                    class="member-user-list-button toggle-button"
                                    data-target="2"
                                >
                                    삭제하기
                                </button>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
            <!-- 삭제모달 -->
            <div id="admin-user-modal" class="hidden">
                <h4 class="admin-user-modal-title">정말 삭제하시겠습니까?</h4>
                <div class="admin-user-modal-button">
                    <div class="admin-user-modal-left">
                        <button
                            class="admin-user-modal-left-button"
                            id="modalCloseButton"
                        >
                            취소
                        </button>
                    </div>
                    <div class="admin-user-modal-right">
                        <button
                            class="admin-user-modal-right-button"
                            id="modalApplyButton"
                        >
                            삭제하기
                        </button>
                    </div>
                </div>
            </div>
            <div id="admin-user-modal-backdrop" class="hidden"></div>
        </main>
    </body>
    <script src="/staticfiles/admin/festival/festival-listview-search.js"></script>
    <script src="/staticfiles/admin/festival/festival-listview-modal.js"></script>
</html>
