<!DOCTYPE html>
<html lang="en" style="height: 100%;" data-headlessui-focus-visible>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/staticfiles/images/teenplay_logo/logo1.png">
        <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
        <link rel="stylesheet" href="/staticfiles/css/open-wishlist/open-wishlist-web.css">
        <title>틴플 :: 공개 위시리스트</title>
    </head>
    <body class="body">
        <!-- 헤더 부분 -->
        <header></header>
        <!-- 메인 부분 -->
        <main class="main">
            <div class="main-full-screen-warp">
                <div class="main-screen-warp">
                    <div>
                        <div class="main-wrap">
                            <div class="main-divison">
                                <!-- 메인 카테고리 -->
                                <div class="main-category">
                                    <div class="main-category-wrap">
                                        <!-- 카테고리 -->
                                        <div class="main-category-filter-wrap">
                                            <!-- 필터 설정 부분 -->
                                            <div class="main-category-filter-text">
                                                <span>필터</span>
                                            </div>
                                            <button class="main-category-filter-button">
                                                <span>필터 초기화</span>
                                            </button>
                                        </div>
                                        <!-- 카테고리명 부분 -->
                                        <div class="main-category-list-wrap">
                                            <div class="main-category-list-title">
                                                <span>태그</span>
                                            </div>
                                            <!-- 카테고리 리스트 -->
                                            <div class="main-category-list-content">
                                                <div class="main-category-default-wrap" data-v-ad21c674>
                                                    <div class="main-category-default-divison" data-v-ad21c674>
                                                        <input class="main-category-all" type="radio" value="전체" data-v-ad21c674>
                                                        <label class="main-category-all-text" data-v-ad21c674 for="ev-radio-98">
                                                            <span>전체</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="main-category-other-wrap" data-v-ad21c674>
                                                    <div class="main-category-other-divison" data-v-ad21c674>
                                                        <input class="main-category-other" type="radio" value="오늘" data-v-ad21c674>
                                                        <label class="main-category-other-text" for="ev-radio-99" data-v-ad21c674>
                                                            <span>문화·예술</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="main-category-other-wrap" data-v-ad21c674>
                                                    <div class="main-category-other-divison" data-v-ad21c674>
                                                        <input class="main-category-other" type="radio" value="오늘" data-v-ad21c674>
                                                        <label class="main-category-other-text" for="ev-radio-99" data-v-ad21c674>
                                                            <span>액티비티</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="main-category-other-wrap" data-v-ad21c674>
                                                    <div class="main-category-other-divison" data-v-ad21c674>
                                                        <input class="main-category-other" type="radio" value="오늘" data-v-ad21c674>
                                                        <label class="main-category-other-text" for="ev-radio-99" data-v-ad21c674>
                                                            <span>푸드·드링크</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="main-category-other-wrap" data-v-ad21c674>
                                                    <div class="main-category-other-divison" data-v-ad21c674>
                                                        <input class="main-category-other" type="radio" value="오늘" data-v-ad21c674>
                                                        <label class="main-category-other-text" for="ev-radio-99" data-v-ad21c674>
                                                            <span>취미</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="main-category-other-wrap" data-v-ad21c674>
                                                    <div class="main-category-other-divison" data-v-ad21c674>
                                                        <input class="main-category-other" type="radio" value="오늘" data-v-ad21c674>
                                                        <label class="main-category-other-text" for="ev-radio-99" data-v-ad21c674>
                                                            <span>여행·동행</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="main-category-other-wrap" data-v-ad21c674>
                                                    <div class="main-category-other-divison" data-v-ad21c674>
                                                        <input class="main-category-other" type="radio" value="오늘" data-v-ad21c674>
                                                        <label class="main-category-other-text" for="ev-radio-99" data-v-ad21c674>
                                                            <span>자기계발</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="main-category-other-wrap" data-v-ad21c674>
                                                    <div class="main-category-other-divison" data-v-ad21c674>
                                                        <input class="main-category-other" type="radio" value="오늘" data-v-ad21c674>
                                                        <label class="main-category-other-text" for="ev-radio-99" data-v-ad21c674>
                                                            <span>파티·게임</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="main-category-other-wrap" data-v-ad21c674>
                                                    <div class="main-category-other-divison" data-v-ad21c674>
                                                        <input class="main-category-other" type="radio" value="오늘" data-v-ad21c674>
                                                        <label class="main-category-other-text" for="ev-radio-99" data-v-ad21c674>
                                                            <span>재테크</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="main-category-other-wrap" data-v-ad21c674>
                                                    <div class="main-category-other-divison" data-v-ad21c674>
                                                        <input class="main-category-other" type="radio" value="오늘" data-v-ad21c674>
                                                        <label class="main-category-other-text" for="ev-radio-99" data-v-ad21c674>
                                                            <span>외국어</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 메인 화면 -->
                                <div class="main-wishlist">
                                    <!-- 메인 화면 중앙 부분 -->
                                    <div class="main-wishlist-wrap">
                                        <!-- 위시리스트 설명 부분 -->
                                        <div class="main-wishlist-explain">
                                            <div class="main-wishlist-explain-wrap">
                                                <div class="main-wishlist-explain-title"> ✨ Make A Wish </div>
                                                <div class="main-wishlist-explain-text"> 틴친과 나의 위시리스트를 공유해요! </div>
                                            </div>
                                        </div>
                                        <!-- 위시리스트 부분 -->
                                        <div class="main-wishlist-content">
                                            <div class="main-wishlist-content-wrap">
                                                <div class="main-wishlist-content-top-warp">
                                                    <!-- 위시리스트 프로필 부분 -->
                                                    <div class="main-wishlist-content-profile-wrap">
                                                        <!-- 위시리스트 프로필 아이콘 부분 -->
                                                        <div class="main-wishlist-content-profile-icon">
                                                            <svg class="main-wishlist-content-profile-personicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"></path>
                                                            </svg>
                                                        </div>
                                                        <!-- 위시리스트 프로필 이름 부분 -->
                                                        <div class="main-wishlist-content-profile-text">
                                                            <div class="main-wishlist-content-profile-name">
                                                                <span>반올림</span>
                                                            </div>
                                                            <!-- 위시리스트 업로드 날짜 부분 -->
                                                            <div class="main-wishlist-content-date">
                                                                <span class="main-wishlist-content-date-info">22일 전</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- 위시리스트 메뉴 부분 -->
                                                    <div>
                                                        <button class="main-wishlist-content-menu" type="button" aria-haspopup="menu" aria-expanded="false" data-headlessui-state class="text-gray-500 pb-2 pl-2">
                                                            <svg class="main-wishlist-content-menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                <path fill-rule="evenodd" d="M10.5 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" clip-rule="evenodd"></path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- 위시리스트 타이틀 부분 -->
                                                <div class="main-wishlist-content-title-wrap">
                                                    <div class="main-wishlist-content-title"> 🍕 세상에 있는 모든 피자 다 먹기 🍕 </div>
                                                </div>
                                                <!-- 위시리스트 정보 부분 -->
                                                <div class="main-wishlist-content-info-wrap">
                                                    <!-- 위시리스트 태그 부분 -->
                                                    <div class="main-wishlist-content-tag-wrap">
                                                        <div>
                                                            태그
                                                            <span class="main-wishlist-content-tag-count">푸드</span>
                                                            <span class="main-wishlist-content-tag-count">드링크</span>
                                                            <span class="main-wishlist-content-tag-count">파티</span>
                                                        </div>
                                                    </div>
                                                    <div class="main-wishlist-content-items-warp">
                                                        <!-- 위시리스트 조회수 부분 -->
                                                        <div class="main-wishlist-content-view">
                                                            조회
                                                            <span class="main-wishlist-content-view-count">755</span>
                                                        </div>
                                                        <!-- 위시리스트 좋아요 개수 부분 -->
                                                        <div class="main-wishlist-content-like-wrap">
                                                            <svg class="main-wishlist-content-like-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                                <path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z"></path>
                                                            </svg>
                                                            <span class="main-wishlist-content-like-count">14</span>
                                                        </div>
                                                        <!-- 위시리스트 댓글 개수 부분 -->
                                                        <div class="main-wishlist-content-comment-wrap">
                                                            <svg class="main-wishlist-content-comment-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            <span class="main-wishlist-content-comment-count">3</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 위시리스트 전체 댓글 보기 부분 -->
                                            <div class="main-wishlist-comment-open-wrap" style>
                                                <button class="main-wishlist-comment-open-button" type="button">
                                                    <span> 댓글 보기 </span>
                                                    <svg class="main-wishlist-comment-open-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                        <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z" clip-rule="evenodd"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                            <!-- 위시리스트 전체 댓글 닫기 부분 -->
                                            <div class="main-wishlist-comment-close-wrap" style="display: none;">
                                                <button class="main-wishlist-comment-close-button" type="button">
                                                    <span> 닫기 </span>
                                                    <svg class="main-wishlist-comment-close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                            <!-- 댓글 부분 -->
                                            <div class="main-wishlist-comment-full-wrap">
                                                <!-- 댓글 입력창 -->
                                                <div class="main-wishlist-comment-input-full-wrap">
                                                    <div class="main-wishlist-comment-input-wrap">
                                                        <div class="main-wishlist-comment-input-full-container">
                                                            <div class="main-wishlist-comment-input-username">틴친이</div>
                                                            <form class="main-wishlist-comment-input-container" method="post" data-hs-cf-bound="true">
                                                                <input class="main-wishlist-comment-input" name="__RequestVerificationToken" type="hidden" value="lQ1k2HcglUXXMwOa0SIMa_JXSkG8dcFibXk3jrgj1xqrlfkZnxzZ69pIbMszXgP7-1CrLPr7j5y-xEsj8UfSWd2EpmvQnlNfBilqDAT5vUaOv7fZgaT00ILqYk8j9LZOYraW8JeO8poPFXuOtKyENA2">
                                                                <input class="main-wishlist-comment-input-hidden" name="CommunityBoardArticleId" hidden="">
                                                                <textarea class="main-wishlist-comment-input-guide" name="content" type="text" placeholder="댓글을 남겨주세요. 욕설, 비방글은 무통보 삭제됩니다." autocomplete="off" required=""></textarea>
                                                                <div class="main-wishlist-comment-upload-wrap">
                                                                    <div class="main-wishlist-comment-upload-container">
                                                                        <button class="main-wishlist-comment-upload-button" type="submit">등록</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 위시리스트 댓글 개수 부분 -->
                                                <div class="main-wishlist-comment-count">댓글 3</div>
                                                <!-- 위시리스트 전체 댓글 부분 -->
                                                <div class="main-wishlist-comment-list-wrap">
                                                    <!-- 댓글 구분선 -->
                                                    <div class="main-wishlist-comment-line"></div>
                                                    <!-- 위시리스트 개별 댓글 부분 -->
                                                    <div class="main-wishlist-comment-divison">
                                                        <div class="main-wishlist-comment-container">
                                                            <!-- 댓글 프로필 사진 부분 -->
                                                            <div>
                                                                <div class="main-wishlist-comment-profile">
                                                                    <svg class="main-wishlist-comment-profile-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"></path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <!-- 댓글 내용 부분 -->
                                                            <div class="main-wishlist-comment-content-wrap">
                                                                <div class="main-wishlist-comment-info-wrap">
                                                                    <!-- 댓글 작성자 이름 부분 -->
                                                                    <span>핏자</span>
                                                                    <!-- 댓글 작성 기간 부분 -->
                                                                    <span class="main-wishlist-comment-date">1일 전</span>
                                                                </div>
                                                                <!-- 댓글 내용 부분 -->
                                                                <div class="main-wishlist-comment-text">제 위시리스트랑 똑같아요!</div>
                                                            </div>
                                                        </div>
                                                        <!-- 댓글 메뉴 부분 -->
                                                        <div>
                                                            <button class="main-wishlist-comment-menu" type="button" aria-haspopup="menu" data-headlessui-state>
                                                                <svg class="main-wishlist-comment-menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                    <path fill-rule="evenodd" d="M10.5 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" clip-rule="evenodd"></path>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- 댓글 구분선 -->
                                                    <div class="main-wishlist-comment-line"></div>
                                                    <!-- 위시리스트 개별 댓글 부분 -->
                                                    <div class="main-wishlist-comment-divison">
                                                        <div class="main-wishlist-comment-container">
                                                            <!-- 댓글 프로필 사진 부분 -->
                                                            <div>
                                                                <div class="main-wishlist-comment-profile">
                                                                    <svg class="main-wishlist-comment-profile-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"></path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <!-- 댓글 내용 부분 -->
                                                            <div class="main-wishlist-comment-content-wrap">
                                                                <div class="main-wishlist-comment-info-wrap">
                                                                    <!-- 댓글 작성자 이름 부분 -->
                                                                    <span>티티</span>
                                                                    <!-- 댓글 작성 기간 부분 -->
                                                                    <span class="main-wishlist-comment-date">3일 전</span>
                                                                </div>
                                                                <!-- 댓글 내용 부분 -->
                                                                <div class="main-wishlist-comment-text">피자 사랑단 모임 만들어 주세요.</div>
                                                            </div>
                                                        </div>
                                                        <!-- 댓글 메뉴 부분 -->
                                                        <div>
                                                            <button class="main-wishlist-comment-menu" type="button" aria-haspopup="menu" data-headlessui-state>
                                                                <svg class="main-wishlist-comment-menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                    <path fill-rule="evenodd" d="M10.5 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" clip-rule="evenodd"></path>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- 댓글 구분선 -->
                                                    <div class="main-wishlist-comment-line"></div>
                                                    <!-- 위시리스트 개별 댓글 부분 -->
                                                    <div class="main-wishlist-comment-divison">
                                                        <div class="main-wishlist-comment-container">
                                                            <!-- 댓글 프로필 사진 부분 -->
                                                            <div>
                                                                <div class="main-wishlist-comment-profile">
                                                                    <svg class="main-wishlist-comment-profile-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"></path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <!-- 댓글 내용 부분 -->
                                                            <div class="main-wishlist-comment-content-wrap">
                                                                <div class="main-wishlist-comment-info-wrap">
                                                                    <!-- 댓글 작성자 이름 부분 -->
                                                                    <span>전</span>
                                                                    <!-- 댓글 작성 기간 부분 -->
                                                                    <span class="main-wishlist-comment-date">3일 전</span>
                                                                </div>
                                                                <!-- 댓글 내용 부분 -->
                                                                <div class="main-wishlist-comment-text">저도 피자 좋아해요!</div>
                                                            </div>
                                                        </div>
                                                        <!-- 댓글 메뉴 부분 -->
                                                        <div>
                                                            <button class="main-wishlist-comment-menu" type="button" aria-haspopup="menu" data-headlessui-state>
                                                                <svg class="main-wishlist-comment-menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                                    <path fill-rule="evenodd" d="M10.5 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zm0 6a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" clip-rule="evenodd"></path>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 댓글 구분선 -->
                                                <div class="main-wishlist-comment-line"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 추가 기능 부분 -->
                                    <div class="main-extra-full-wrap" style>
                                        <div class="main-extra-wrap">
                                            <div class="main-extra-divison">
                                                <!-- 위시리스트 추가하기 부분 -->
                                                <div class="main-extra-create-wrap">
                                                    <button class="main-extra-create-button">
                                                        <svg class="main-extra-create-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <!-- 페이지 위로 올리기 부분 -->
                                                <button class="main-extra-up-wrap" type="button" onclick="window.scrollTo({top: 0, behavior: 'smooth'})">
                                                    <svg class="main-extra-up-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd" d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z" clip-rule="evenodd"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- 풋터 부분 -->
        <footer></footer>
    </body>
</html>