<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/staticfiles/images/teenplay_logo/logo1.png" type="image/x-icon" />
        <link rel="stylesheet" href="/staticfiles/company-info/company.css" />
        <title>주식회사 틴플</title>
    </head>
    <body>
        <div class="website-wrap">
            <div class="layout-wrap">
                <div class="layout-application-wrap">
                    <div class="application-wrap">
                        <div class="template-wrap">
                            <div class="header-wrap">
                                <div class="header-wrap-margin"></div>
                                <header class="header">
                                    <div class="header-container">
                                        <div class="h-left-box">
                                            <div class="logo-box">
                                                <div class="logo">
                                                    <img class="logo-icon" src="/staticfiles/images/teenplay_logo/logo2.png" alt="company-logo" />
                                                </div>
                                                <div class="logo-name">주식회사 틴들</div>
                                            </div>
                                        </div>
                                        <div class="h-right-box">
                                            <div class="menu-button-open">
                                                <i class="bar-open"></i>
                                            </div>
                                            <div class="menu-box">
                                                <div class="main-box-inner">
                                                    <ul class="menu">
                                                        <li class="menu-item-history">
                                                            <div class="history-background"></div>
                                                            <div class="history-text">History</div>
                                                        </li>
                                                        <li class="menu-item-teams">
                                                            <div class="teams-background"></div>
                                                            <div class="teams-text">Team</div>
                                                        </li>
                                                        <li class="menu-item-news">
                                                            <div class="news-background"></div>
                                                            <div class="news-text">News</div>
                                                        </li>
                                                        <li class="menu-item-contact-us">
                                                            <div class="contact-us-background"></div>
                                                            <div class="contact-us-text">Contact Us</div>
                                                        </li>
                                                    </ul>
                                                    <div class="menu-button-close"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                            </div>
                            <div class="description-wrap">
                                <div class="description-background"></div>
                                <div class="description-color"></div>
                                <div class="description-cover"></div>
                                <div class="description-container">
                                    <pre class="description-text">
이벤터스는 기업 및 기관에서 주최하는 비즈니스 이벤트(MICE)에서 발생하는 과도한 비용, 비효율성, 불명확한 데이터 3가지의 문제를 디지털 전환(Platform, SaaS 도입)을 통해 해결하는 이벤트 테크 스타트업입니다.

행사를 개설하여 참가자를 모집하고 행사를 홍보할 수 있는 No.1 Event Platform과 행사 운영 과정에서의 업무들을 자동화하고 데이터를 축적할 수 있는 No.1 Event SaaS(소프트웨어)를 국내에서 유일하게 All-in-one으로 제공하고 있습니다.

이벤터스는 온라인ㆍ오프라인ㆍ하이브리드 모든 형식의 행사에서 사용할 수 있습니다. IBM, Wework, 삼성SDS, 야놀자, 경기도, 한국관광공사, KAIST, 동아일보, 농협은행, 신한카드, 삼성병원, 화우, 코엑스 등 14,000명의 고객을 보유하고 있습니다.
                                    </pre>
                                </div>
                            </div>
                            <section class="section">
                                <div class="section-history">
                                    <div class="history-container">
                                        <div class="history-name-box">
                                            <div class="history-name"># History Timeline</div>
                                        </div>
                                        <div class="history-content-box">
                                            <div class="histroy-crop-line"></div>
                                            <div class="history-vertical-line"></div>
                                            <div class="history-content-group">
                                                <div class="year-base-history-group-one">
                                                    <div class="year-base-history-group-year">
                                                        <span class="year-line"></span>
                                                        <span class="year-pointer"></span>
                                                        <span class="year-year">2022</span>
                                                    </div>
                                                    <div class="history-item">
                                                        <div class="history-item-year">11</div>
                                                        <div class="history-item-content">제20회 대한민국 MICE대상, 디지털 MICE 부문 수상</div>
                                                    </div>
                                                    <div class="history-item">
                                                        <div class="history-item-year">05</div>
                                                        <div class="history-item-content">한국MICE협회, “MICE 공로상” 수상</div>
                                                    </div>
                                                    <div class="history-item">
                                                        <div class="history-item-year">03</div>
                                                        <div class="history-item-content">중소벤처기업부, 비대면 바우처 서비스 공급 기업 선정</div>
                                                    </div>
                                                    <div class="history-item">
                                                        <div class="history-item-year">01</div>
                                                        <div class="history-item-content">“대한민국 퍼스트 브랜드 대상 : 웨비나 부문” 수상</div>
                                                    </div>
                                                </div>
                                                <div class="year-base-history-group-two">
                                                    <div class="year-base-history-group-year-two">
                                                        <span class="year-line-two"></span>
                                                        <span class="year-pointer-two"></span>
                                                        <span class="year-year-two">2020</span>
                                                    </div>
                                                    <div class="history-item-two">
                                                        <div class="history-item-two-year">12</div>
                                                        <div class="history-item-two-content">네이버 클라우드 SaaS 육성 기업으로 선정</div>
                                                    </div>
                                                    <div class="history-item-two">
                                                        <div class="history-item-two-year">05</div>
                                                        <div class="history-item-two-content">Microsoft for Startups 프로그램, 한국 50개 기업에 선정</div>
                                                    </div>
                                                    <div class="history-item-two">
                                                        <div class="history-item-two-year">03</div>
                                                        <div class="history-item-two-content">온라인으로 행사 진행이 가능한 "이벤터스 웨비나" 신규 런칭</div>
                                                    </div>
                                                    <div class="history-item-two">
                                                        <div class="history-item-two-year">03</div>
                                                        <div class="history-item-two-content">서울 마이스 얼라이언스(SMA) 회원사 선정</div>
                                                    </div>
                                                    <div class="history-item-two">
                                                        <div class="history-item-two-year">03</div>
                                                        <div class="history-item-two-content">한국 MICE 협회 회원사 등록</div>
                                                    </div>
                                                </div>
                                                <div class="year-base-history-group-three">
                                                    <div class="year-base-history-group-year-three">
                                                        <span class="year-line-three"></span>
                                                        <span class="year-pointer-three"></span>
                                                        <span class="year-year-three">2019</span>
                                                    </div>
                                                    <div class="history-item-three">
                                                        <div class="history-item-three-year">07</div>
                                                        <div class="history-item-three-content">서울시, 서울창업허브 보육기업 선정</div>
                                                    </div>
                                                    <div class="history-item-three">
                                                        <div class="history-item-three-year">07</div>
                                                        <div class="history-item-three-content">Global VC "스트롱벤처스"로부터 Pre-Series A 투자유치</div>
                                                    </div>
                                                    <div class="history-item-three">
                                                        <div class="history-item-three-year">04</div>
                                                        <div class="history-item-three-content">서울시, 관광스타트업 보육기업 선정 및 경연대회 '최우수상' 수상</div>
                                                    </div>
                                                </div>
                                                <div class="year-base-history-group-four">
                                                    <div class="year-base-history-group-year-four">
                                                        <span class="year-line-four"></span>
                                                        <span class="year-pointer-four"></span>
                                                        <span class="year-year-four">2018</span>
                                                    </div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="year-base-history-group"></div>
                                                <div class="year-base-history-group"></div>
                                                <div class="year-base-history-group"></div>
                                                <div class="year-base-history-group"></div>
                                            </div>
                                        </div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="section-teams"></div>
                                <div class="section-news"></div>
                                <div class="section-contack-us"></div>
                            </section>
                            <footer></footer>
                            <div></div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
